.side-menu {
  width:100px;
  height:300px;
}

.post:hover {
  background-color: #bce2ee;
}

.post td {
  padding: 5px;
  /* width: 150px; */
}

#delete-button {
  color: red;
  border-color: red;
}

/************************************
** トグル表示ボタン
************************************/
.toggle-wrap .toggle-button {
  display: block;
  cursor: pointer;
  padding: 3px 10px;
  background-color: #fff;
  border: 1px solid #777;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 3px;
}

.toggle-wrap .toggle-button:hover {
  border-color: red;
}

.toggle-wrap .toggle-content,
.toggle-wrap > input[type="checkbox"] {
  display: none;
}

.toggle-wrap > input[type="checkbox"]:checked ~ .toggle-content {
  display: block;
}

.icon {
  position: relative;
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50%;
}

.icon::before {
  position: absolute;
  top: 9px;
  left: 50%;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  transform: translateX(-50%);
}

.icon::after {
  position: absolute;
  top: 3px;
  left: -3px;
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid #fff;
  transform: rotate(90deg);
}

.toggle-wrap > input[type="checkbox"]:checked ~ .icon::after {
  display: none;
}

.item-edit-input {
  width: 225px;
}
