{% extends "layout.html.tera" %} {% block content %}
<main class="main-contents">
    <h1>Suzuya</h1>

    <h2>実装済機能</h2>
    <p>各種ページ（トップ、アイテム、関係者、メーカー）</p>
    <p>一覧表示機能（アイテム、関係者、メーカー）</p>
    <p>新規登録機能（アイテム、関係者、メーカー）</p>
    <p>編集・削除機能（アイテム、関係者、メーカー）</p>

    <h2>実装予定機能</h2>
    <p>アイテム一覧を月ごとにフィルターする</p>
    <p>ログイン機能</p>

</main>
{% endblock content %}
