<header class="side-menu">
    <h2>MENU</h2>
    <nav>
        <ul id="contents">
            <li><a href="/item">アイテム</a></li>
            <li><a href="/user">関係者</a></li>
            <li><a href="/maker">メーカー</a></li>
        </ul>
    </nav>
</header>
