<header class="fixed" style="position: fixed; width: 100px; top: 0px; left: 10px;">
    <h2>業務管理</h2>
    <nav class="gNav">
        <ul id="contents">
            <li><a href="/item">アイテム</a></li>
            <li><a href="/user">関係者</a></li>
            <li><a href="/maker">メーカー</a></li>
        </ul>
    </nav>
</header>
